---
---



@import "{{ site.theme }}";

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: bg-animation 10s infinite;
}

@-webkit-keyframes bg-animation {
  0% {
    background-color: red;
  }
  15% {
    background-color: yellow;
  }
  30% {
    background-color: green;
  }
  45% {
    background-color: blue;
  }
  60% {
    background-color: purple;
  }
  75% {
    background-color: pink;
  }
  90% {
    background-color: brown;
  }
  100% {
    background-color: red;
  }
}

.bigger{
 font-weight: bold;
 font-size: 1.6vw;
 padding-left: 0;
}

.inertbtn {
  margin-top: .5vh;
  border-radius: .5vh;
  display: inline-block;
  min-width: 6vw;
  max-width: 6vw;
  min-height: 6vw;
  max-height: 6vw;
  padding: 0px;
  background-color: #3e8e41;
  color: #000000;
  font-size: 3vw;
  border: none;
}


.dropbtn {
  margin-top: .5vh;
  border-radius: .5vh;
  display: inline-block;
  min-width: 6vw;
  max-width: 6vw;
  min-height: 6vw;
  max-height: 6vw;
  padding: 0px;
  background-color: #ffffff;
  color: #000000;
  font-size: 4vw;
  border: none;
}

  .dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  margin-top: .5vh;
  margin-bottom: .5vh;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 92vw;
  height: 6vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  height: 6vw;
  width: 3.66vw;
  font-size: 4vw;
  color: #191919;
  background-color: #f8f8f8;
  padding-top: .1vh;
  padding-bottom: .1vh;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  text-decoration: none;
  display: inline;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: inline;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

iframe {
    position: absolute;
    min-width: 88%;
    min-height: 88%;
    max-width: 88;
    max-height: 88%;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);        
}
