---
---

.bigger{
 font-weight: bold;
 font-size: 1.6vw;    
}

@import "{{ site.theme }}";

.dropbtn {
  margin-left: .3vw;
  margin-top: .7vh;
  border-radius: .5vh;
  display: inline-block;
  min-width: 17.5vw;
  max-width: 17.5vw;
  min-height: 5.5vh;
  max-height: 5.5vh;
  padding: 0px;
  background-color: #585858;
  color: #e8e8e8;
  font-size: 1.1vw;
  border: none;
}

  .dropdown {
  margin-left: .3vw;
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  margin-left: .3vw;
  min-width: 17.5vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  font-size: 2vh;
  color: #494949;
  background-color: #f8f8f8;
  padding: .5vh .5vh;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

iframe {
    position: absolute;
    min-width: 88%;
    min-height: 88%;
    max-width: 88;
    max-height: 88%;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);        
}
