---
---

.bigger{
 font-weight: bold;
 font-size: 1.6vw;
 padding-left: 0;
}


@import "{{ site.theme }}";

.dropbtn {
  margin-left: .2vw;
  margin-top: .5vh;
  border-radius: .5vh;
  display: inline-block;
  min-width: 6vw;
  max-width: 6vw;
  min-height: 6vw;
  max-height: 6vw;
  padding: 0px;
  background-color: #ffffff;
  color: #000000;
  font-size: 2vw;
  border: none;
}

  .dropdown {
  margin-left: .2vw;
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  margin-left: .2vw;
  min-width: 88vw;
  height: 6vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  height: 6vw;
  font-size: 4vw;
  color: #494949;
  background-color: #f8f8f8;
  padding-top: .1vh;
  padding-bottom: .1vh;
  padding-left: 1vw;
  text-decoration: none;
  display: inline;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: inline;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

iframe {
    position: absolute;
    min-width: 88%;
    min-height: 88%;
    max-width: 88;
    max-height: 88%;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);        
}
