<!DOCTYPE html>
<html>
<body style="background-color: #202020">
 <link rel="stylesheet" type="text/css" href="assets/style.css">
<div style="position: absolute;
    background-color: #000000;
    min-width: 100%;
    min-height: 90%;
    max-width: 100;
    max-height: 90%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);"></div>
 <div id="player" allow="autoplay"></div>

  <script>
var tag = document.createElement('script');
tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
  
    var player, playing=0, seconds = 0;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '390',
          width: '640',
          videoId: 'ajHtu_5bUec',
          playerVars: {rel:0, modestbranding:1, fs:0, autoplay:1},
          events: {
            'onReady': onPlayerReady
            //'onStateChange': onPlayerStateChange
          }
        });
      }
function onPlayerReady(event) {
        event.target.playVideo();
        //player.playVideo();     
        //setTimeout(player.playVideo(),2000);
   }
function seek(sec){
    if(player){
        seconds = sec;
        player.seekTo(seconds, true);
    }
}



  </script>
 


 <div id="spacer" style="left-margin: 2vw; max-height: 10vh; min-width: 7vw; max-width: 15vw; background-color: #202020; display:inline-block"> </div>
 
  <div class="dropdown">
  <button class="dropbtn" id="dropone">Skip to a speaker:<br><span class="bigger">INTRODUCTION</span></button>
  <div class="dropdown-content">
    <a onclick="seek(0)">Leirion Gaylor Baird,<br>Mayor, City of Lincoln</a>
   <a onclick="seek(49)">Dr. Hart and Dr. Lippman</a>
  </div>
</div>
 

  <!-- ILIAD SECTIONS HERE  --> 
<div class="dropdown">
  <button class="dropbtn" id="dropfour">Skip to a reader:<br><span class="bigger">THE ILIAD</span></button>
  <div class="dropdown-content">
    <a onclick="seek(319)">INTRO Dr. Hart and Dr. Lippman</a>
    <a onclick="seek(521)"> 1.1-60 Stephen Cass</a>
    <a onclick="seek(717)"> 1.61-127 Alex Markey</a>
    <a onclick="seek(924)"> 1.128-197 Andrew Malasker</a>
    <a onclick="seek(1148)"> 1.198-261 Ellie Churchill</a>
    <a onclick="seek(1315)"> 1.262-317 Dr. Gil Renberg</a>
    <a onclick="seek(1482)"> 1.318-377 Vanessa Larsen</a>
    <a onclick="seek(1662)"> 1.378-454 Ian McGovern</a>
    <a onclick="seek(1846)"> 1.455-520 Ellen Kratzer</a>
    <a onclick="seek(2015)"> 1.521-568 Dr. Julia Schleck</a>
    <a onclick="seek(2149)"> 1.569-643 Dr. Matthew Loar</a>
  </div>
</div> 
 
 
 
  <!-- OEDIPUS SECTIONS HERE  --> 
<div class="dropdown">
  <button class="dropbtn" id="dropthree">Skip to a reader:<br><span class="bigger">OEDIPUS</span></button>
  <div class="dropdown-content">
    <a onclick="seek(2399)">INTRO Dr. Hart and Dr. Lippman</a>
    <a onclick="seek(2589)";>1-150 Prof. Laura Lippman,<br>and Prof. Michael Lippman </a>
    <a onclick="seek(3152)";>151-250 Dr. Stanley Lombardo</a>
  </div>
</div>  


   <!-- THUCYDIDES SECTIONS HERE  -->
 <div class="dropdown">
  <button class="dropbtn" id="droptwo">Skip to a reader:<br><span class="bigger">THUCYDIDES</span></button>
  <div class="dropdown-content">
    <a onclick="seek(3420)">INTRO Dr. Hart and Dr. Lippman</a>
    <a onclick="seek(3599)">2.47 Dr. Rachel Hart</a>
    <a onclick="seek(3645)">2.48 Brooke Mott</a>
    <a onclick="seek(3704)">2.49 Dr. Matt Joeckel</a>
    <a onclick="seek(3828)">2.50 Nichole Brady</a>
    <a onclick="seek(3943)">2.51 David Clawson</a>
    <a onclick="seek(4049)">2.52 Dr. Amy Goodburn</a>
    <a onclick="seek(4161)">2.53 Cameron Ramsey</a>
    <a onclick="seek(4220)">2.54 Steven Winston</a>
  </div>
</div>
 
 
  <div class="dropdown">
  <button class="dropbtn" id="dropfive">Skip to a speaker:<br><span class="bigger">PARTING MESSAGE</span></button>
  <div class="dropdown-content">
    <a onclick="seek(4239)">Dr. Hart and Dr. Lippman</a>
    <a onclick="seek(4450)">Ellie Churchill</a>
    <a onclick="seek(4504)">End Credits</a>

  </div>
</div>



</body>
</html> 
