<!DOCTYPE html>
<html>
<body style="background-color: #202020;">
 <link rel="stylesheet" type="text/css" href="assets/style.css">
 
 


  <script>
var tag = document.createElement('script');
tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    var player, instantiated=0, seconds = 0;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '390',
          width: '640',
          videoId: '7rEeHMQ43cE',
          playerVars: {rel:0, modestbranding:1, fs:0, autoplay:0},
          events: {
            'onReady': onPlayerReady
          }
          }
        );
      }
   
      function onPlayerReady(event) {
        player.setVolume(100);
      }

function seek(sec){
    if(player){
        seconds = sec;
        player.seekTo(seconds, true);
}}

 </script>
 
<img id="last" src="assets/pages/389.png" style="position: absolute; max-height: 100vh; max-width:45vw; top: 2%; left: 9%;"></img>
<img id="next" src="assets/pages/390.png" style="position: absolute; max-height: 100vh; max-width:45vw; top: 2%; left: 57%;"></img>
    
 <div style="background-color: rgba(0,0,50); position: absolute; min-width: 10%; min-height: 100%; max-width:10%; max-height: 100%; top: 0; left: 0;">
  

 <div class="dropdown">
  <button class="dropbtn" id="first">1<span class="bigger"></span></button>
  <div class="dropdown-content">
   <a onclick="">α</a>
   <a onclick="">β</a>
   <a onclick="">γ</a>
   <a onclick="">δ</a>
   <a onclick="">ε</a>
   <a onclick="">ζ</a>
   <a onclick="">η</a>
   <a onclick="">θ</a>
   <a onclick="">ι</a>
   <a onclick="">κ</a>
   <a onclick="">λ</a>
   <a onclick="">μ</a>
   <a onclick="">ν</a>
   <a onclick="">ξ</a>
   <a onclick="">ο</a>
   <a onclick="">π</a>
   <a onclick="">ρ</a>
   <a onclick="">σ</a>
   <a onclick="">τ</a>
   <a onclick="">υ</a>
   <a onclick="">φ</a>
   <a onclick="">χ</a>
   <a onclick="">ψ</a>
   <a onclick="">ω</a>
  </div>
</div>
   <div class="dropdown">
  <button class="dropbtn" id="second">2<span class="bigger"></span></button>
  <div class="dropdown-content">
   <a onclick="">α</a>
   <a onclick="">β</a>
   <a onclick="">γ</a>
   <a onclick="">δ</a>
   <a onclick="">ε</a>
   <a onclick="">ζ</a>
   <a onclick="">η</a>
   <a onclick="">θ</a>
   <a onclick="">ι</a>
   <a onclick="">κ</a>
   <a onclick="">λ</a>
   <a onclick="">μ</a>
   <a onclick="">ν</a>
   <a onclick="">ξ</a>
   <a onclick="">ο</a>
   <a onclick="">π</a>
   <a onclick="">ρ</a>
   <a onclick="">σ</a>
   <a onclick="">τ</a>
   <a onclick="">υ</a>
   <a onclick="">φ</a>
   <a onclick="">χ</a>
   <a onclick="">ψ</a>
   <a onclick="">ω</a>
  </div>
</div>
   <div class="dropdown">
  <button class="dropbtn" id="third">3<span class="bigger"></span></button>
  <div class="dropdown-content">
   <a onclick="">α</a>
   <a onclick="">β</a>
   <a onclick="">γ</a>
   <a onclick="">δ</a>
   <a onclick="">ε</a>
   <a onclick="">ζ</a>
   <a onclick="">η</a>
   <a onclick="">θ</a>
   <a onclick="">ι</a>
   <a onclick="">κ</a>
   <a onclick="">λ</a>
   <a onclick="">μ</a>
   <a onclick="">ν</a>
   <a onclick="">ξ</a>
   <a onclick="">ο</a>
   <a onclick="">π</a>
   <a onclick="">ρ</a>
   <a onclick="">σ</a>
   <a onclick="">τ</a>
   <a onclick="">υ</a>
   <a onclick="">φ</a>
   <a onclick="">χ</a>
   <a onclick="">ψ</a>
   <a onclick="">ω</a>
  </div>
</div>
</div>

<button>
 
</button>
 
</body>
</html> 
