<!DOCTYPE html>
<html>
<body style="background-color: #202020;">
 <link rel="stylesheet" type="text/css" href="assets/style.css">
 
 


  <script>
var first = 0;
var second = 0;
var third = 0;
var page = 0;
   
function cf(num){
    first = num;
}
   
function cs(num){
    second = num;
}
   
function ct(num){
    third = num;
}
   
function next(){
 if(page<61){
    page = page + 1;
    }
 go();
}
   
function prev(){
 if(page>0){
    page = page - 1;
    }
 go();
}
   
function search(){
 
 var total = (576*first) + (24*second) + third;
 
 if(total <= 78){
  page = 0;
 } else if(total <= 210){
  page = 1;
 } else if(total <= 263){
  page = 2;
 } else if(total <= 288){
  page = 3;
 } else if(total <= 295){
  page = 4;
 } else if(total <= 364){
  page = 5;
 } else if(total <= 374){
  page = 6;
 } else if(total <= 401){
  page = 7;
 } else if(total <= 472){
  page = 8;
 } else if(total <= 574){
  page = 9;
 } else if(total <= 1130){
  page = 10;
 } else if(total <= 1436){
  page = 11;
 } else if(total <= 1811){
  page = 12;
 } else if(total <= 1893){
  page = 13;
 } else if(total <= 1907){
  page = 14;
 } else if(total <= 2270){
  page = 15;
 } else if(total <= 2463){
  page = 16;
 } else if(total <= 2484){
  page = 17;
 } else if(total <= 2518){
  page = 18;
 } else if(total <= 2560){
  page = 19; 
 } else if(total <= 2594){
  page = 20;
 } else if(total <= 2636){
  page = 21;
 } else if(total <= 2642){
  page = 22;
 } else if(total <= 2691){
  page = 23;
 } else if(total <= 2741){
  page = 24;
 } else if(total <= 2989){
  page = 25;
 } else if(total <= 3670){
  page = 26;
 } else if(total <= 3981){
  page = 27;
 } else if(total <= 4361){
  page = 28;
 } else if(total <= 4962){
  page = 29;
 } else if(total <= 5113){
  page = 30;
 } else if(total <= 5121){
  page = 31;
 } else if(total <= 5447){
  page = 32;
 } else if(total <= 5568){
  page = 33;
 } else if(total <= 6014){
  page = 34;
 } else if(total <= 6253){
  page = 35;
 } else if(total <= 6351){
  page = 36;
 } else if(total <= 6581){
  page = 37;
 } else if(total <= 7151){
  page = 38;
 } else if(total <= 8139){
  page = 39;
 } else if(total <= 8216){
  page = 40;
 } else if(total <= 8322){
  page = 41;
 } else if(total <= 8403){
  page = 42;
 } else if(total <= 8513){
  page = 43;
 } else if(total <= 8521){
  page = 44;
 } else if(total <= 8617){
  page = 45;
 } else if(total <= 8751){
  page = 46;
 } else if(total <= 8857){
  page = 47;
 } else if(total <= 8903){
  page = 48;
 } else if(total <= 9659){
  page = 50;
 } else if(total <= 10013){
  page = 51;
 } else if(total <= 10106){
  page = 52;
 } else if(total <= 10202){
  page = 53;
 } else if(total <= 10320){
  page = 54;
 } else if(total <= 10557){
  page = 55;
 } else if(total <= 10683){
  page = 56;
 } else if(total <= 11147){
  page = 57;
 } else if(total <= 11542){
  page = 58;
 } else if(total <= 11806){
  page = 59;
 } else if(total <= 12297){
  page = 60;
 } else {
  page = 61;
 }

 go();
  
 first = 0;
 second = 0;
 third = 0;
 
 document.getElementById("first").innerHTML = "α";
 document.getElementById("second").innerHTML = "α";
 document.getElementById("third").innerHTML = "α";
 
}
   
function go(){
 var firstPage = page + 338;
 var secondPage = page + 339;
 var path = "assets/pages/";
 var fileType = ".png";
 var firstPath = path.concat(firstPage.toString(10)).concat(fileType);
 var secondPath = path.concat(secondPage.toString(10)).concat(fileType);
 document.getElementById('prev').src = firstPath;
 document.getElementById('next').src = secondPath;
}


 </script>
 
<img id="prev" src="assets/pages/389.png" style="position: absolute; max-height: 100vh; max-width:45vw; top: 50%; left: 30%; transform: translate(-50%, -50%);"></img>
<img id="next" src="assets/pages/390.png" style="position: absolute; max-height: 100vh; max-width:45vw; top: 50%; left: 76%; transform: translate(-50%, -50%);"></img>
    
 <div style="background-color: rgba(0,0,50); position: absolute; min-width: 7%; min-height: 100%; max-width:7%; max-height: 100%; top: 0; left: 0;">
  

 <div class="dropdown">
  <button class="dropbtn" id="first">1<span class="bigger"></span></button>
  <div class="dropdown-content">
   <a onclick="">α</a>
   <a onclick="">β</a>
   <a onclick="">γ</a>
   <a onclick="">δ</a>
   <a onclick="">ε</a>
   <a onclick="">ζ</a>
   <a onclick="">η</a>
   <a onclick="">θ</a>
   <a onclick="">ι</a>
   <a onclick="">κ</a>
   <a onclick="">λ</a>
   <a onclick="">μ</a>
   <a onclick="">ν</a>
   <a onclick="">ξ</a>
   <a onclick="">ο</a>
   <a onclick="">π</a>
   <a onclick="">ρ</a>
   <a onclick="">σ</a>
   <a onclick="">τ</a>
   <a onclick="">υ</a>
   <a onclick="">φ</a>
   <a onclick="">χ</a>
   <a onclick="">ψ</a>
   <a onclick="">ω</a>
  </div>
</div>
   <div class="dropdown">
  <button class="dropbtn" id="second">2<span class="bigger"></span></button>
  <div class="dropdown-content">
   <a onclick="">α</a>
   <a onclick="">β</a>
   <a onclick="">γ</a>
   <a onclick="">δ</a>
   <a onclick="">ε</a>
   <a onclick="">ζ</a>
   <a onclick="">η</a>
   <a onclick="">θ</a>
   <a onclick="">ι</a>
   <a onclick="">κ</a>
   <a onclick="">λ</a>
   <a onclick="">μ</a>
   <a onclick="">ν</a>
   <a onclick="">ξ</a>
   <a onclick="">ο</a>
   <a onclick="">π</a>
   <a onclick="">ρ</a>
   <a onclick="">σ</a>
   <a onclick="">τ</a>
   <a onclick="">υ</a>
   <a onclick="">φ</a>
   <a onclick="">χ</a>
   <a onclick="">ψ</a>
   <a onclick="">ω</a>
  </div>
</div>
   <div class="dropdown">
  <button class="dropbtn" id="third">3<span class="bigger"></span></button>
  <div class="dropdown-content">
   <a onclick="">α</a>
   <a onclick="">β</a>
   <a onclick="">γ</a>
   <a onclick="">δ</a>
   <a onclick="">ε</a>
   <a onclick="">ζ</a>
   <a onclick="">η</a>
   <a onclick="">θ</a>
   <a onclick="">ι</a>
   <a onclick="">κ</a>
   <a onclick="">λ</a>
   <a onclick="">μ</a>
   <a onclick="">ν</a>
   <a onclick="">ξ</a>
   <a onclick="">ο</a>
   <a onclick="">π</a>
   <a onclick="">ρ</a>
   <a onclick="">σ</a>
   <a onclick="">τ</a>
   <a onclick="">υ</a>
   <a onclick="">φ</a>
   <a onclick="">χ</a>
   <a onclick="">ψ</a>
   <a onclick="">ω</a>
  </div>
</div>
  
<button onclick="prev()">PREV</button>
<button onclick="next()">NEXT</button>
<p id="testText">testingOneTwoThree</p>
</div>

</body>
</html> 
